{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block header %}
<header id="header" class="nav-light full-width">
<div class="head-main">
  <div class="container">
    <div class="logo-wrapper">
      <!-- standard Logo--><a href="{% url 'home:home' %}" class="standard-logo text-logo"><img src="{% static 'img/avatar.jpg' %}" alt="Dr. Chaos Mctabi">
        <div class="text-wrapper">
          <h1 class="title"><span>دکتر سارا</span>نیکلسون</h1>
        </div></a>
    </div>
    <!-- primary navigation-->
    <ul id="primary-menu">
      <li><a href="{% url 'home:home' %}" title="Home"><span>صفحه اصلی</span></a>
      </li>
      <li class="current-menu-item"><a href="{% url 'publications:list' %}" title="Publications"><span>انتشارات</span></a>
      </li>
      <li ><a href="{% url 'research:list'%}" title="Research"><span>تحقیقات</span></a>
      </li>
      <li ><a href="{% url 'students:list' %}" title="Students"><span>دانش آموزان</span></a>
      </li>
      <li ><a href="{% url 'teaching' %}" title="Teaching"><span>آموزش</span></a>
      </li>
      <li ><a href="{% url 'blogs:list' %}" title="Blog"><span>مقالات</span></a>
      </li>
      <li  ><a href="{% url 'contact:contact' %}" title="Contact"><span>ارتباط</span></a>
      </li>
    </ul>
    <!-- #####Begin icons beside menu-->
    <div class="header-icons">
      <!-- #####Begin mobile menu trigger-->
      <div class="ol-mobile-trigger hamburger hamburger--elastic">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <!-- #####End mobile menu trigger-->
    </div>
  </div>
</div>
</header>
{% endblock %}
{% block content %}
    <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head dark hvh-70 set-bg center-it parallax-layer" data-img-src="{% static 'img/bg/12.jpg' %}" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
                <h4 class="head">معرفی کتاب</h4>
                <h1 class="title">{{ object.title }}</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
           <section class="section slim-container">
              <div class="container">
                <div class="single-post large-typo">
                    <div class="post-metas center-meta"><a href="#" class="avatar avatar-sm"><img src="{{ object.writer_image.url }}" alt=""></a>
                    <ul class="meta">
                      <li class="author"> توسط<a href="#"> {{ object.writer }} </a></li>
                      <li class="publish_date">

                        در <span class="date">{{ object.jalali_publish }}</span>
                      </li>
                    </ul>
                  </div>

                    <div class="post-body">


                    <div class="caption-img off-container">
                    <img src="{{ object.image.url }}" alt="image hover" style="width: 400px;height: 400px">
                    <div class="caption">None</div>
                    <p> عنوان کتاب {{ object.title }}</p>
                    <p> نویسنده {{ object.writer }}</p>
                    <p> تعداد صفحات {{ object.number_of_pages }}</p>
                    <p> سال انتشار {{ object.jalali_publish }}</p>
                    <p>{{ object.description }}</p>
                    </div>


				  </div>
                </div>


              </div>
            </section>

             {% include 'shared/comment.html' with object=object %}
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>

{% endblock %}







