{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block title %} 
    <title>  انتشارات {{ about_us.first_name }} {{ about_us.last_name }}  </title>
{% endblock title %}

{% block header %}
{% include 'publications/publications_nav.html' %}
{% endblock %}

{% block content %}
    <section id="contents">
            <!-- #####Begin page head-->
            <div class="page-head h-500 center-it ov-grad8-alpha-80 parallax-layer dark" data-img-src="{% static 'img/bg/02.jpg' %}" data-parallax-mode="mode-title">
              <div class="container">
                <div class="tb-vcenter-wrapper">
                  <div class="title-wrapper vcenter">
                    <h1 class="title">انتشارات</h1>
                     <h2 class="description">{{ content.publication_content }}</h2>
                   </div>
                </div>
              </div>
            </div>
            <!-- #####End page head
            -->
            <section class="page-contents">
              <!-- #####Begin main area-->
              <section id="main-area">

                {% include 'publications/top_books.html' with top_books=top_books %}

                {% include 'publications/books.html' with all_books=all_books %}

              </section>
              <!-- #####End main area
              -->
              <div class="clearfix"></div>
            </section>
          </section>
{% endblock %}

