{% load static %}
<header id="header" class="nav-light full-width">
<div class="head-main">
  <div class="container">
    <div class="logo-wrapper">
      <!-- standard Logo--><a href="{% url 'home:home' %}" class="standard-logo text-logo"><img src="{{ about_us.image.url }}" alt="Dr. Chaos Mctabi">
        <div class="text-wrapper">
          <h1 class="title"><span>دکتر {{ about_us.first_name}}</span>{{about_us.last_name}}</h1>
        </div></a>
    </div>
    <!-- primary navigation-->
    <ul id="primary-menu">
      <li><a href="{% url 'home:home' %}" title="Home"><span>صفحه اصلی</span></a>
      </li>
      <li class="current-menu-item"><a href="{% url 'publications:list' %}" title="Publications"><span>انتشارات</span></a>
      </li>
      <li ><a href="{% url 'research:list'%}" title="Research"><span>تحقیقات</span></a>
      </li>
      <li ><a href="{% url 'students:list' %}" title="Students"><span>دانش آموزان</span></a>
      </li>
      <li ><a href="{% url 'teaching' %}" title="Teaching"><span>آموزش</span></a>
      </li>
      <li ><a href="{% url 'blogs:list' %}" title="Blog"><span>مقالات</span></a>
      </li>
      <li  ><a href="{% url 'contact:contact'%}" title="Contact"><span>ارتباط</span></a>
      </li>
    </ul>
    <!-- #####Begin icons beside menu-->
    <div class="header-icons">
      <!-- #####Begin mobile menu trigger-->
      <div class="ol-mobile-trigger hamburger hamburger--elastic">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <!-- #####End mobile menu trigger-->
    </div>
  </div>
</div>
</header>