{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block header %}
<header id="header" class="nav-light full-width">
<div class="head-main">
  <div class="container">
    <div class="logo-wrapper">
      <!-- standard Logo--><a href="{% url 'home:home' %}" class="standard-logo text-logo"><img src="{% static 'img/avatar.jpg' %}" alt="Dr. Chaos Mctabi">
        <div class="text-wrapper">
          <h1 class="title"><span>دکتر سارا</span>نیکلسون</h1>
        </div></a>
    </div>
    <!-- primary navigation-->
    <ul id="primary-menu">
      <li><a href="{% url 'home:home' %}" title="Home"><span>صفحه اصلی</span></a>
      </li>
      <li ><a href="{% url 'publications:list' %}" title="Publications"><span>انتشارات</span></a>
      </li>
      <li class="current-menu-item"><a href="{% url 'research:list'%}" title="Research"><span>تحقیقات</span></a>
      </li>
      <li ><a href="{% url 'students:list' %}" title="Students"><span>دانش آموزان</span></a>
      </li>
      <li ><a href="{% url 'teaching' %}" title="Teaching"><span>آموزش</span></a>
      </li>
      <li ><a href="{% url 'blogs:list' %}" title="Blog"><span>مقالات</span></a>
      </li>
      <li  ><a href="{% url 'contact:contact' %}" title="Contact"><span>ارتباط</span></a>
      </li>
    </ul>
    <!-- #####Begin icons beside menu-->
    <div class="header-icons">
      <!-- #####Begin mobile menu trigger-->
      <div class="ol-mobile-trigger hamburger hamburger--elastic">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <!-- #####End mobile menu trigger-->
    </div>
  </div>
</div>
</header>
{% endblock %}
{% block content %}

      <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head h-500 center-it parallax-layer ov-grad8-alpha-80 dark" data-img-src="{% static 'img/bg/03.jpg' %}" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter">
                <h1 class="title">تحقیقات</h1>
                 <h2 class="description">{{ content.research_content }}</h2>
               </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">

            {% include 'research/items/current_topics.html' with current_topics=current_topics %}

            {% include 'research/items/research_grants.html' with research_grants=research_grants content=content %}

            <section class="section section-narrow-2 set-bg"><img src="{% static 'img/bg/light-02.jpg' %}" alt="background" class="set-me">
              <div class="container">
                <div class="row call-out tb-vcenter-wrapper">
                  <div class="col-sm-9 vcenter">
                    <h2 class="title">لیست کامل انتشارات</h2>
                  </div>
                  <div class="col-sm-3 vcenter text-center"><a href="{% url 'publications:list' %}" type="submit" class="btn btn-medium btn-wide btn-skin-red btn-circle"> <span>مشاهده</span></a></div>
                </div>
              </div>
            </section>

            {% include 'research/items/research_collaborators.html' with research_collaborators=research_collaborators content=content %}

          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>



{% endblock %}