{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block header %}
<header id="header" class="nav-light full-width">
<div class="head-main">
  <div class="container">
    <div class="logo-wrapper">
      <!-- standard Logo--><a href="{% url 'home:home' %}" class="standard-logo text-logo"><img src="{% static 'img/avatar.jpg' %}" alt="Dr. Chaos Mctabi">
        <div class="text-wrapper">
          <h1 class="title"><span>دکتر سارا</span>نیکلسون</h1>
        </div></a>
    </div>
    <!-- primary navigation-->
    <ul id="primary-menu">
      <li><a href="{% url 'home:home' %}" title="Home"><span>صفحه اصلی</span></a>
      </li>
      <li ><a href="{% url 'publications:list' %}" title="Publications"><span>انتشارات</span></a>
      </li>
      <li class="current-menu-item"><a href="{% url 'research:list'%}" title="Research"><span>تحقیقات</span></a>
      </li>
      <li ><a href="{% url 'students:list' %}" title="Students"><span>دانش آموزان</span></a>
      </li>
      <li ><a href="{% url 'teaching' %}" title="Teaching"><span>آموزش</span></a>
      </li>
      <li ><a href="{% url 'blogs:list' %}" title="Blog"><span>مقالات</span></a>
      </li>
      <li  ><a href="{% url 'contact:contact' %}" title="Contact"><span>ارتباط</span></a>
      </li>
    </ul>
    <!-- #####Begin icons beside menu-->
    <div class="header-icons">
      <!-- #####Begin mobile menu trigger-->
      <div class="ol-mobile-trigger hamburger hamburger--elastic">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <!-- #####End mobile menu trigger-->
    </div>
  </div>
</div>
</header>
{% endblock %}
{% block content %}
    <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head dark hvh-70 set-bg center-it parallax-layer" data-img-src="{% static 'img/bg/12.jpg' %}" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
                <h4 class="head">معرفی همکار تحقیقاتی </h4>
                <h1 class="title">{{ object.full_name }}</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
           <section class="section slim-container">
              <div class="container">
                <div class="single-post large-typo">

                  <div class="post-body">


                    <div class="caption-img off-container">
                    <img src="{{ object.image.url }}" alt="image hover" style="width: 400px;height: 400px">
                    <p>{{ object.description }}</p>
                    <h4>مقالات</h4>
                    {% for blog in object.blogs.all %}
                        <a style="color: palevioletred" href="{{ blog.get_absolute_url }}">{{ blog }}</a>
                        <br>
                    {% endfor %}
                    <br>
                    <hr>

                    <p style="color: #b3aaaa">
                    شما می‌توانید ما را در <a href="https://twitter.com/{{ object.twitter_url }}">توئیتر </a>و <a href="https://facebook.com/{{ object.faceBook_url }}">فیسبوک</a>  دنبال کنید.
                    </p>

                    {% if object.home_page %}
                        <a href="{{ object.home_page }}" style="color: palevioletred">     سایت شخصی </a>
                    {% endif %}
                    </div>



				  </div>
                </div>


              </div>
            </section>

          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>

{% endblock %}







