<div class="col-xs-6 col-md-4">
    <div class="vc-card boxed"><a href="{{ object.get_absolute_url }}"><img style="width: 328px;height: 328px" src="{{ object.image.url }}" alt="people"></a>
      <div class="vc-card-wrapper"><a href="{{ object.get_absolute_url }}" class="title">{{ object.full_name }}</a>
        <div class="subtitle">{{ object.rule }}</div>
      </div>
      <div class="links">
          <a href="{{ object.home_page }}" data-toggle="tooltip" data-original-title="homepage"><i class="fa fa-external-link"></i></a>
          <a href="/" data-toggle="tooltip" data-original-title="Biography"><i class="oli oli-user_male_circle"></i></a>
          <a href="https://facebook.com/{{ object.faceBook_url }}" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/{{ object.twitter_url }}" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
    </div>
</div>