{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}
{% block title %} 
    <title>  ارتباط با {{ about_us.first_name }} {{ about_us.last_name }}  </title>
{% endblock title %}
{% block header %}
{% include 'contact/contact_nav.html' %}
{% endblock %}

{% block content %}
    <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head h-500 center-it parallax-layer dark ov-grad8-alpha-80" data-img-src="{% static 'img/bg/07.jpg' %}" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter">
                <h1 class="title">ارتباط</h1>
                <h2 class="description">{{ content }}</h2>
               </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
            <section class="section section-narrow-2 slim-container">
              <div class="container">
                <div class="row">

                    {% render_partial 'contact:contact_way' %}

                    <div class="col-md-6">
                    <div class="heading-with-sub">
                      <h3 class="title">ارتباط</h3>
                      <h4 class="subtitle">ارسال جواب شاید چند روز طول بکشد</h4>
                    </div>
                        {% load widget_tweaks %}
                        {% if new_contact %}
                            <div class="alert alert-success">

                               پیام شما با موفقیت ارسال شد
                            </div>

                        {% else %}
                             <form method="post">
                                {% csrf_token %}
                                <label for="{{ contact_form.name.label }}">{{ contact_form.name.label }}</label>
                                <div class="m-bottom-20">
                                    {{ contact_form.name }}
                                </div>
                                {% for error in contact_form.name.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}

                                <label for="{{ contact_form.email.label }}">{{ contact_form.email.label }}</label>
                                <div class="m-bottom-20">
                                    {{ contact_form.email }}
                                </div>
                                {% for error in contact_form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}

                                <label for="{{ contact_form.subject.label }}">{{ contact_form.subject.label }}</label>
                                <div class="m-bottom-20">
                                    {{ contact_form.subject }}
                                </div>
                                <label for="{{ contact_form.message.label }}">{{ contact_form.message.label }}</label>
                                <div class="m-bottom-20">
                                    {{ contact_form.message }}
                                </div>

                                <div class="form-actions">
                                  <input type="submit" value="ارسال" class="btn btn-medium btn-skin-dark btn-thick-border btn-block">
                                </div>
                            </form>
                        {% endif %}

                  </div>
                </div>
              </div>
            </section>
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>

{% endblock %}