{% load render_partial %}
<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <!-- #####Begin head-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- globalise scripting and styling content language-->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <!-- author of this doc-->
    <meta name="author" content="owwwlab.com">


    <!-- ################################-->
    <!-- #### add SEO metadata here-->
    <!-- ################################-->

    {% include 'shared/_HeaderReferences.html' %}
    {% block title %} {% endblock title %}
  </head>


  <body class="fullwidth sticky-header">
    <div id="wrapper" class="regular-layout">

      {% block header %}{% endblock %}


      {% block content %}{% endblock %}

      {% render_partial 'footer' %}
    </div>
    {% include 'shared/_FooterReferences.html' %}
  </body>
</html>
