{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %} 
    <title> مقالات {{ about_us.first_name }} {{ about_us.last_name }} </title>
{% endblock title %}
{% block header %}
{% include 'blogs/blog_nav.html' %}
{% endblock %}

{% block content %}

      <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head dark hvh-70 set-bg center-it parallax-layer" data-img-src="{% static 'img/bg/12.jpg' %}" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
                <h4 class="head">{{ object.short_description }}</h4>
                <h1 class="title">{{ object.title }}</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
           <section class="section slim-container">
              <div class="container">
                <div class="single-post large-typo">

                  <div class="post-metas center-meta"><a href="#" class="avatar avatar-sm"><img src="{{ object.writer_image.url }}" alt=""></a>
                    <ul class="meta">
                      <li class="author"> توسط<a href="#"> {{ object.writer }} </a></li>
                      <li class="publish_date">

                        در <span class="date">{{ object.jalali_publish }}</span>
                      </li>
                    </ul>
                  </div>

                    <div class="post-body">

                      {{ object.content|safe }}
				            </div>
                </div>

              </div>
            </section>

              {% include 'shared/comment.html' with object=object %}
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>

{% endblock %}


