{% extends  'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}

{% block title %} 
    <title>مقالات {{ about_us.first_name }} {{ about_us.last_name }}  </title>{% endblock title %}
{% block header %}
{% include 'blogs/blog_nav.html' %}
{% endblock %}

{% block content %}
     <section id="contents">
        <!-- #####Begin page head-->
        <div class="page-head h-500 center-it ov-grad8-alpha-80 parallax-layer dark" data-img-src="assets/img/bg/06.jpg" data-parallax-mode="mode-title">
          <div class="container">
            <div class="tb-vcenter-wrapper">
              <div class="title-wrapper vcenter">
                <h1 class="title">مقالات</h1>
                <h2 class="description">{{ content.blogs_content }}</h2></div>
            </div>
          </div>
        </div>
        <!-- #####End page head
        -->
        <section class="page-contents">
          <!-- #####Begin main area-->
          <section id="main-area">
            <section class="section section-narrow-2 slim-container bg-gray">
              <div class="container">
                <div class="row multi-columns-row pull-up-185 col-margin-bottom-40">
                    <!-- #####Begin list elements-->
                    {% for object in object_list %}

                      {% include 'blogs/blogs_item_component.html' with object=object %}

                    {% endfor %}
                </div>

                <!-- #####Begin pagination links-->
                {% include 'shared/paganation.html' %}

              </div>
            </section>
         <section class="section section-narrow">
              <div class="container">
                <div class="row">

                    {% render_partial 'blogs:popular_blog' %}

                    <!-- Tags links-->
                  <div class="col-md-3">
                    {% render_partial 'blogs:tag' %}
                  </div>

                    <!-- Category links-->
                  <div class="col-md-3">

                    {% render_partial 'blogs:category' %}

                  </div>
                  <div class="col-md-3">
                    <div class="widget">
                      <h4>اطلاعیه</h4>
                      <div class="html-widget">
                        <p>{{ content.blogs_notification_content }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

			</section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>
{% endblock %}